.green-box {
    width: 350px;
    height: 220px;
    padding: 15px 10px 20px 10px;
    margin: 0 auto;
    margin-bottom: 30px;
    border: 2px dashed red;
    background: green;
}

.text-box {
    width: 400px;
    float: left;
}

.text-box>img {
    width: 150px;
}

.left-img {
    float: left;
    margin: 10px 10px 10px 0;
}

.right-img {
    float: right;
    margin: 10px 0 10px 10px;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}