.holder {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid black;
    border-radius: 30px 30px 0 0;
    overflow: hidden;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    order: 10;
    padding: 10px;


    &:nth-child(1) {
        order: 1;
        background-color: red;
        flex-basis: 50%;
    }

    &:nth-child(2) {
        background-color: blue;
    }

    &:nth-child(3) {
        order: 2;
        background-color: purple;

    }

    &:nth-child(4) {
        background-color: green;
    }

    &:nth-child(5) {
        order: 1;
        background-color: yellow;
        flex-basis: 50%;
    }
}