.menu {
    >ul {
        list-style-type: none;
        display: none;

        @media (min-width: 768px) {
            display: flex;
        }

        >li {
            display: inline-block;
            margin-right: 0;
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: calc(#{$header-height} / 2 - 15px);
        right: 50px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        @media (min-width: 768px) {
            display: none;
        }

        &>span,
        &>span:before,
        &>span::after {
            display: block;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: white;
        }

        &>span::before {
            content: '';
            top: -8px;
        }

        &>span::after {
            content: '';
            top: 8px;
        }
    }

    &__item {
        display: block;
        padding: 20px;
        color: $text-color;
        text-decoration: none;
        transition: $main-transition;
        text-decoration: none;

        &:hover {
            opacity: 0.4;
        }
    }
}

#menu__toggle {
    opacity: 0;

    &:checked {
        ~.menu__btn {
            >span {
                transform: rotate(45deg);

                &:before {
                    top: 0;
                    transform: rotate(0);
                }

                &:after {
                    top: 0;
                    transform: rotate(90deg);
                }
            }
        }

        ~ul {
            display: flex;
            flex-direction: column;
            background: $header-bg;
            font-weight: bold;
            position: absolute;
            top: $header-height;
            right: 10px;
            padding: 0 15px 15px 15px;
            margin: 0;
            z-index: 1;
            opacity: initial;
            visibility: initial;

            li .menu__item {
                color: white;
            }
        }

    }

}