.wrapper {
    position: relative;
    width: 100%;

    >.section__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}