$green: #0d5825;
$pink: rgb(236, 175, 185);
$blue: rgb(108, 108, 196);
$light-green: rgb(83, 204, 83);
$dark-red: red;
$dark-blue: blue;
$dark-green: green;
$dark-yellow: yellow;

//card style
$card_font-size: 25px;
$card_bg_size: 650px;
$card_bg_color: $green;
$card_bg_padding: 50px 50px 100px;
$card_width: 150px;

//color-blocks style
$color-block-pink: $pink;
$color-block-blue: $blue;
$color-block-green: $light-green;
$color-block-size: 100px;


//color-animation-block style
$color-animation-bg-size: 300px;
$color-animation-size: 100px;
$red-animation: $dark-red;
$blue-animation: $dark-blue;
$green-animation: $dark-green;
$yellow-animation: $dark-yellow; 