.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $box-border-color;
    width: 100%;
    border-radius: 20px;
    padding: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: calc(100% / 3 - 20px);
    transition: $main-transition;

    &:hover {
        background: $box-border-color;
    }

    h2,
    p {
        transition: $main-transition;
    }

    &:hover h2,
    &:hover p {
        color: $main-bg;
    }

    &:nth-child(3n) {
        margin-right: 0;
    }

    &__content {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-grow: 2;

        >img {
            width: $box-size;
            height: $box-size;
            border-radius: 50%;
            border: 10px solid $box-border-color;
        }
    }

    &__button {
        background: $box-border-color;
        border-radius: 100px;
        color: $main-bg;
        font-weight: bold;
        padding: 10px 20px;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        text-decoration: none;
        transition: $main-transition;

        &:hover {
            color: $box-border-color;
            background: $main-bg;
        }
    }
}