.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background: $yellow;
    position: fixed;
    height: $header-height;
    padding: 0 25px;

    &__logo {
        display: flex;

        a>img {
            height: 60px;
            padding: 0;
        }
    }
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 2;

    &__content {
        display: flex;
        flex-direction: column;
        order: 2;
        text-align: center;
        padding: 20px;
        margin-top: 50px;
    }

    &__cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: $aside-width;
    width: 100%;
    text-align: center;
    padding: 100px 10px;
    order: 1;

    &--left {
        background: $left-aside-bg;
    }

    &--right {
        background: $right-aside-bg;
        order: 3;
    }
}

.footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: $footer-height;
    background: $footer-bg;
}