$yellow: #d3b714;
$pink: #c798b9;
$blue: #9cb1c7;
$green: #86ec86;
$white: white;
$black: black;
$purple: purple;

$main-transition: all 0.3s ease-in-out;

$header-bg: $yellow;
$left-aside-bg: $pink;
$right-aside-bg: $blue;
$footer-bg: $green;
$main-bg: $white;
$text-color: $black;

$aside-width: 210px;
$header-height: 80px;
$footer-height: 30px;

$box-border-color: $purple;
$box-size: 100px;
$button-color: $white;