body {
  position: relative;
  width: 100%;
  height: 100%;
}

.blockquote-text {
  color: green;
}

a[href^="https"] {
  color: red;
}

.list > li:last-child {
  background: green;
}

ul + p {
  font-size: 26px;
}

.text-box > h3:nth-of-type(1) {
  color: pink;
}

#greycol {
  color: grey;
}

.text-box > div > p {
  color: red;
}

.text-box > h3:last-of-type + p {
  color: green;
}

.yellow {
  color: yellow;
}

.bg-box {
  width: 100%;
  height: 100vh;
  background-color: green;
  background-image: url(../assets/pole-zelen-trava-dom-derevya.jpg),
    url(../assets/grass-png-images-pictures-transparent-28.png),
    url(../assets/lamp-png-0.png), url(../assets/58eb07b830eab15b56162788.png),
    url(../assets/Ёжик.png);
  background-position: 50% 50%, 0 100%, 0 0, 100% 0, 0 0;
  background-repeat: no-repeat, repeat no-repeat, repeat no-repeat,
    no-repeat repeat, no-repeat repeat;
  background-size: auto, auto 200px, auto 50px, auto 50px, auto 50px;
}
