.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    margin-top: 50px;

    &__item {
        margin-right: 20px;

        &:hover {
            >a {
                background: $text-color;
                color: $active-color;
            }
        }

        &:last-child {
            margin-right: 0;
        }

        >a {
            text-decoration: none;
            color: $text-color;
            padding: 5px 15px;
            border: 1px solid $text-color;
            border-radius: 5px;
            transition: all 0.3s ease-in-out;
        }

        &.active {
            >a {
                background: $text-color;
                color: $active-color;
            }
        }
    }
}